body {
    
    display: flex;
    flex-direction: row;
}

.main{
    width: 100%;
    text-align: center;
    
}

.left{
    
    width: 20%;
}

a{
    
    font-weight: bold;
}

ul{
    list-style-type: none;
}